#logo {
height: auto;
width: 20%;
padding: 1%;
}

#square {
height: 50%;
width: 50%;
}

.navbar-collapse {
margin-bottom: 2%;
margin-top: 3%;
}

#portfolio-top {
margin-top: 25px;
}

.whiteback {
height: 200px;
background-color: #ffffff;
}